section.splash.grad-bg
   div.logo
      div.bl
         img(src="http://s31.postimg.org/b6s893ha3/image.png")
      div.br
         img(src="http://s31.postimg.org/irv94kcaj/image.png")
      div.in
         img(src="http://s31.postimg.org/7e8ptd1rv/image.png")
      div.out
         img(src="http://s31.postimg.org/ivtnyk75n/out.png")
      div.p
         img(src="http://s31.postimg.org/rj29ytvln/image.png")      
      div.tl
         img(src="http://s31.postimg.org/g7zmagoqj/image.png")      
      div.tr
         img(src="http://s31.postimg.org/7sj8kg0mz/image.png")
   div.title
      h1.orb-h Crye
      h1.orb-l Precision
   button#enter.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Shop Now
   
section.home
   div.cart
      span.header
         h4 John
         h4 Total: $660.00
      table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
         thead
            tr
               th.mdl-data-table__cell--non-numeric ITEM
               th QUANTITY
               th PRICE
         tbody
            tr
               td.mdl-data-table__cell--non-numeric FieldShell 2
               td 1
               td $320.00 
            tr
               td.mdl-data-table__cell--non-numeric AitLite Plate
               td 2
               td $170.00
   div#menu.menu
      .main.show
         h3 MENU
         a#products 
            h5 PRODUCTS
         a 
            h5 ABOUT
         a 
            h5 INTERNATIONAL
         a 
            h5 TERMS
         a 
            h5 SHIPPING
         a 
            h5 PRIVACY
         a 
            h5 CONTACT
      .productsmenu
         h3 PRODUCTS
            a#mainmenu.mdl-button.mdl-js-button.mdl-js-ripple-effect
               i.material-icons.md-36 chevron_left
         a 
            h5 APPAREL
         a 
            h5 ARMOR + EQUIPMENT
         a 
            h5 STUFF + THINGS
   div.content
            
      div#head.title
         h2.glow.orb-l CRYE PRECISION
      div.carousel
         a.handle.l.mdl-button.mdl-js-button.mdl-js-ripple-effect
            i.material-icons.md-36 chevron_left
         a.handle.r.mdl-button.mdl-js-button.mdl-js-ripple-effect
            i.material-icons.md-36 chevron_right
         div.item.fs2.show
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/slider/FIELDSHELL_2_CRYE_PRECISION_HOMEPAGE_SLIDER.jpg")
            span.new NEW
            .caption
               h1 FIELDSHELL 2
               h5 VERSATILE, WEATHER RESISTANT SOFT SHELL
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect SHOP NOW
         div.item.atx
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/slider/cp_homepage_banner_airframe_atx-1.jpg")
            span.new NEW
            .caption
               h1 AIR <strong>FRAME</strong> ATX
               h5 LE FOCUSED IIIA BALLISTIC HELMET
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect SHOP NOW
            
      div.products.profile
         h2.glow.orb-l VIEW BY PROFILE
         div.item
            h1.glow.orb-l MILITARY
            img(src="http://cryeprecision.com/images/shopByImage/prodProf_military.jpg")
         div.item
            h1.glow.orb-l LAW ENFORCEMENT
            img(src="http://cryeprecision.com/images/shopByImage/prodProf_le.jpg")
         div.item
            h1.glow.orb-l LOW-VIS
            img(src="http://cryeprecision.com/images/shopByImage/prodProf_lowvis.jpg")
      div.products.category
         h2.glow.orb-l VIEW BY CATEGORY
         div.item
            h1.glow.orb-l APPAREL
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/110.jpg")
         div.item
            h1.glow.orb-l ARMOR + EQUIPMENT
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/119.jpg")
         div.item
            h1.glow.orb-l STUFF + THINGS
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/131.jpg")
      footer
         span
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/cp_logobot.png")
         span
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/multicam.png")
         span
            img(src="https://www.cryeprecision.com/Sitefinity/WebsiteTemplates/Crye/App_Themes/Default/global/images/payments.png")
         span
            img(src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif")
         span Copyright ©2016 Crye Precision LLC. All rights reserved. Made in the USA.

   nav.nav
      a#menuBtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
         i.material-icons.md-36 menu
      span
         img(src="http://s31.postimg.org/ic7i56o8n/logosmwhite.png")
      a#cartBtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
         i.material-icons shopping_cart
   
      
         